<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
    <!-- fontAwesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>

<body>

    <div id="app" >
    <div class="carousel-container" @mouseover="pouseInterval()" @mouseleave="playInterval()">
        <div class="img-container">
            <div class="img-slider" 
            :class="index == isActive ? 'active' : ''" v-for="(img, index) in images"
            >
                <img 
                :src="img.image"  class="img"  alt="">
                <div 
                class="text-container text_1 "
                 :class="img.isActive ? 'active' : ''" >
                    <h3>{{img.title}}</h3>
                    <p>{{img.text}}</p>
                </div>
            </div>
            <button id="left" class="arrow-left" @click="prevImgActive()">
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <!--end arrow left-->
            <button id="right" class="arrow-right" @click="nextImgActive()">
            <i class="fa-solid fa-chevron-down"></i>
            </button>
            <!--end arrow right-->
        </div>
        <!--end img container-->
        <div class="container-thumbnails">
            <!--elements -->
            <div @click="changeImgCurrent(index)" class="img-wrapper" v-for="(img, index) in images">
                <img :src="img.image" :class="index == isActive ? 'active' : ''"  class="img"  alt="">
            </div>
    
            <!--elements -->
          
        </div>
        <!--end container thumbnails-->
        </div>
        <!--end carousel container-->
    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <!--my js-->
    <script src="./js/script.js"></script>
</body>

</html>